.logo {
  font-size: 2em;         /* Makes the logo character larger */
  font-weight: bold;      /* Makes it bold */
  margin-right: 20px;     /* Adds space between logo and other items */
  color: #D4AF37;         /* Optional: gives it a nice color */
}
.main-nav {
  display: flex;           /* Makes the list horizontal */
  list-style: none;        /* Removes bullet points */
  justify-content: center; /* Centers the nav items horizontally */
  padding: 0;
  margin: 0;
  align-items: center;     /* Vertically centers items */
  gap: 20px;               /* Adds space between items */
}

.main-nav li {
  color: #F8F8F8; /*Accent: gold on hover */
  padding: 10px;
  cursor: pointer;
}

.main-nav li:hover {
   color: #D4AF37; /* Accent: gold on hover */
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #2E2E2E;;
  padding: 10px;
  text-align: center;
}
h2{
  color: #1C1C1C; /* Text: soft black for readability */
  margin-top: 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  padding: 10px;
  background-color: #F8F8F8;
  color: #1C1C1C; /* Text: soft black */
}

aside {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #EFEFEF; /* Light gray for contrast */
}
